{% extends "base.html" %}
{% block content %}

<section id="wrapper">
  <header>
    <a href='http://www.uikonf.com/' target=_blank> 
    <img id="avatar" class="2x" src="http://uikonf-assets.s3-website-eu-west-1.amazonaws.com/static/logo.svg"/>
  </a>
    <br/> 
    <a href='http://www.mobile-warsaw.pl/' target=_blank> 
    <img src="{% static '/images/logos/logo-mobile-warsaw.png' %}">
    </a>
    </header>
  <header>
      <h1>{% block title %}Workshops{% endblock title %}</h1>
    <h2>Test Driven Development — July 5th</h2>
  </header> <!--header-->

{% filter markdown %}
The workshop will consist of 8 hours of workshops mixed with lectures (and a bit of lunch break sprinkled over). We'll be covering basic TDD knowledge: why you should test, how to test, what to test and which tools we consider to be the best solution available right now.
Prerequisites for attendance: 

- *Mac* with latest developer tools installed - *Xcode 5.x with iOS 7.x*. Don't worry if you have any iDacted betas installed.  
- *Knowledge of Objective-C* and generic iOS knowledge - you don't have to be an iOS ninja, but we do require basic knowledge and understanding of how the OS works 
- *AppCode* - we consider AppCode to be an essential tool when it comes to TDDing iOS apps. If you don't have license purchased you can use trial version which is available for download from JetBrains website 
- Humor and *hunger for knowledge*! 

**Cost**

Well, that's new, because almost always things we're organising are free. So here it is - for 8 hour long workshop you have to pay with 8 hours of your time, contributed to the community. Don't worry, we have a variety of tasks, so it will be easy to begin. Everyone should find something suitable. But really, most of the active community members are happy they got involved, so that cost may actually be a prize for you.

**Workshop Leaders**

<div id="speakers">
  <div>
    <img src="{% static '/images/speakers/Pawel.jpg' %}" style="width:45%;"><br/>
    <strong>Paweł Dudek</strong><br/>
    iOS dev for over 5 years. TDD maniac and clean code lover. Bass guitarist and beer lover.
  </div>

  <div>
    <img src="{% static '/images/speakers/Lukasz.jpg' %}" style="width:45%;"><br/>
    <strong>Łukasz Warchoł</strong><br/>
  </div>

  <div>
    <img src="{% static '/images/speakers/Alek.jpg' %}" style="width:45%;"><br/>
    <strong>Aleksander Zubala</strong><br/>
  </div>

  <div>
    <img src="{% static '/images/speakers/Maciek.png' %}" style="width:45%;"><br/>
    <strong>Maciej Oczko</strong><br/>
    iOS developer.<br/>
    Clean code enthusiast.<br/>
    Agile methodologies believer.<br/>
    Jazz guitar lover.<br/>
    Currently at Polidea.<br/>
  </div>
</div>

**Detailed agenda for July 5th**

9:00 - 9:30 	Introduction<br/>
9:30 - 9:45	Setup <br/>
9:45 - 10:00	Coffee break<br/>
10:00 - 11:00	Introduction to tests and testing framework<br/>
11:00 - 12:00	Red - Green - Refactor Cycle<br/>
12:00 - 13:15	Lunch Break<br/>
13:15 - 14:45	Testing techniques (Return test, value test, behavior test)<br/>
14:45 - 15:00	Coffee break<br/>
15:00 - 17:00	How to work with legacy code effectively<br/>
17:00 - 17:15	Summary

<img src="{% static '/images/photos/1.jpg' %}" style="width:45%;">
<img src="{% static '/images/photos/2.jpg' %}" style="width:45%;">
<img src="{% static '/images/photos/3.jpg' %}" style="width:45%;">
<img src="{% static '/images/photos/4.jpg' %}" style="width:45%;">
<img src="{% static '/images/photos/5.jpg' %}" style="width:45%;">
<img src="{% static '/images/photos/6.jpg' %}" style="width:45%;">

**How do I register?**

TODO: Tito link

**Location**

TBD. Somewhere in Berlin.

**Questions?**

TODO: Email address.

{% endfilter %}

</section> <!--wrapper-->

{% endblock content %}
